body, html {
  background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
  background-repeat: no-repeat;
  height: 100%;
}
.contact-card {
  border: 200px, 35px;
  width: 300px;
  background-color: white;
  border: 1px solid black;
  border-radius: 3.3%;
  padding: 20px;
}
.user-welcomed {
  color: red;
}